In [10]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pymongo
from bson.json_util import dumps

uri = "mongodb+srv://abhayraj:qweewq@trial.zufi11o.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

# Creating the database

In [11]:
db = client["project"]

# Create the collections
Product = db["Product"]
Depot = db["Depot"]
Stock = db["Stock"]

# Inserting values

In [12]:
document_depot = [
    {
        "dep": "d1",
        "addr": "New York",
        "volume": 9000,
    },
    {
        "dep": "d2",
        "addr": "Syracuse",
        "volume": 6000,
    },
    {
        "dep": "d4",
        "addr": "New York",
        "volume": 2000,
    },
]

document_product = [
    {
        "prod": "p1",
        "pname": "tape",
        "price": 2.5,
    },
    {
        "prod": "p2",
        "pname": "tv",
        "price": 250,
    },
    {
        "prod": "p3",
        "pname": "vcr",
        "price": 80,
    },
]

document_stock = [
    {
        "prod": "p1",
        "dep": "d1",
        "quantity": 1000,
    },
    {
        "prod": "p1",
        "dep": "d2",
        "quantity": -100,
    },
    {
        "prod": "p1",
        "dep": "d4",
        "quantity": 1200,
    },
    {
        "prod": "p3",
        "dep": "d1",
        "quantity": 3000,
    },
    {
        "prod": "p3",
        "dep": "d4",
        "quantity": 2000,
    },
    {
        "prod": "p2",
        "dep": "d4",
        "quantity": 1500,
    },
    {
        "prod": "p2",
        "dep": "d1",
        "quantity": -400,
    },
    {
        "prod": "p2",
        "dep": "d2",
        "quantity": 2000,
    },
    
]

# Inserting values into the collections

In [13]:
Product.insert_many(document_product)
Stock.insert_many(document_stock)
Depot.insert_many(document_depot)

InsertManyResult([ObjectId('65725a12008c592f316764f9'), ObjectId('65725a12008c592f316764fa'), ObjectId('65725a12008c592f316764fb')], acknowledged=True)

# Transaction 1: The product p1 is deleted from Product and Stock.

In [14]:
# Delete product p1 from Product collection
Product.delete_many({"prod": "p1"})

# Delete stock entries for product p1 from Stock collection
Stock.delete_many({"prod": "p1"})

DeleteResult({'n': 3, 'electionId': ObjectId('7fffffff00000000000000d6'), 'opTime': {'ts': Timestamp(1701993019, 8), 't': 214}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701993019, 8), 'signature': {'hash': b'\xaa\xde\xe26\xf4\xe6\x0bMq^\xa6\x14\xf8.\x99\x95p,\xd8\xf6', 'keyId': 7262577508971708418}}, 'operationTime': Timestamp(1701993019, 8)}, acknowledged=True)

# Transaction 2: The depot d1 is deleted from Depot and Stock.

In [15]:
# Delete depot d1 from Depot collection
Depot.delete_many({"dep": "d1"})

# Delete stock entries for depot d1 from Stock collection
Stock.delete_many({"dep": "d1"})

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff00000000000000d6'), 'opTime': {'ts': Timestamp(1701993036, 58), 't': 214}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701993036, 58), 'signature': {'hash': b'\x82\xff\x86\x1e\xf7\xe2\x7fA>\r\x1e?\xa0nM\xf2v\xb5\xb1\x14', 'keyId': 7262577508971708418}}, 'operationTime': Timestamp(1701993036, 58)}, acknowledged=True)

# Transaction 3: The product p2 changes its name to pp1 in Product and Stock.

In [17]:
# We have renamed p2 instead of p1 as we have deleted p1 in transaction 1.

# Update the product name in Product collection
Product.update_many(
    {"prod": "p2"},
    {"$set": {"pname": "pp1"}})

# Update the product name in Stock collection
Stock.update_many(
    {"prod": "p2"},
    {"$set": {"prod": "pp1"}})

UpdateResult({'n': 0, 'electionId': ObjectId('7fffffff00000000000000d6'), 'opTime': {'ts': Timestamp(1701993129, 9), 't': 214}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701993129, 9), 'signature': {'hash': b'\xdbdW3\\&\xc2\x81\x108jy\xd0\xcf\xec3n\n\xcf\xb9', 'keyId': 7262577508971708418}}, 'operationTime': Timestamp(1701993129, 9), 'updatedExisting': False}, acknowledged=True)

# Transaction 4: The depot d2 changes its name to dd1 in Depot and Stock.

In [18]:
# We have renamed d2 instead of d1 as we have deleted d1 in transaction 2.

# Update the Depot name in Depot collection
Depot.update_many(
    {"dep": "d2"},
    {"$set": {"dep": "dd1"}})

# Update the Depot name in Stock collection
Stock.update_many(
    {"dep": "d2"},
    {"$set": {"dep": "dd1"}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000d6'), 'opTime': {'ts': Timestamp(1701993234, 27), 't': 214}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1701993234, 27), 'signature': {'hash': b'I\x96\xcc\xa5k\xcf\x07\x9d(\x1b\x18\x99M;2\xa8\xb0BK_', 'keyId': 7262577508971708418}}, 'operationTime': Timestamp(1701993234, 27), 'updatedExisting': True}, acknowledged=True)

# Transaction 5: We add a product (p100, cd, 5) in Product and (p100, dd1, 50) in Stock.

In [9]:
# We have addeddepot dd1 instead of d2 as we have renamed d2 in transaction 4.

# Insert a document for product p100 in the Product collection
Product.insert_one(
    {
        "prod": "p100",
        "pname": "cd",
        "price": 5,
    }
)

# Insert a document for product p100 and depot dd1 in the Stock collection
Stock.insert_one(
    {
        "prod": "p100",
        "dep": "dd1",
        "quantity": 50,
    }
)

InsertOneResult(ObjectId('6572417055588a25e3d7af35'), acknowledged=True)

# Transaction 6: We add a depot (d100, Chicago, 10000) in Depot and (p1, d100, 100) in Stock.

In [10]:
# Insert a document for depot d100 in the Depot collection
Depot.insert_one(
    {
        "dep": "d100",
        "addr": "Chicago",
        "volume": 10000,
    }
)

# Insert a document for product p1 and depot d100 in the Stock collection
Stock.insert_one(
    {
        "prod": "p1",
        "dep": "d100",
        "quantity": 100,
    }
)

InsertOneResult(ObjectId('6572417055588a25e3d7af37'), acknowledged=True)